@import "~bootstrap/scss/bootstrap";

body {
    background-color: #ececec;
}

.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 1px solid black;
}

.main-wrapper {
    .content {
        overflow: auto;
        height: calc(100vh - 54px);
    }
}

.navbar {
    height: 54px;
    background-color: #141212;

    #navbarDropdown,
    .home {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

.aside {
    margin: 0;
    padding: 0;
    background-color: #141212;

    nav {
        //padding: 15px 10px;

        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 2px;
                overflow: hidden;
                white-space: nowrap;

                &:hover {
                    //border-radius: 5px;
                    background-color: #e0e0e0;
                }
                &:hover a,
                &:hover i {
                    color: #141212;
                }
                a {
                    color: #e0e0e0;
                    padding: 5px 10px;
                    text-decoration: none;
                    display: block;
                    width: 100%;
                    // height: 100%;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    i {
                        padding-right: 10px;
                        color: #e0e0e0;
                    }
                }
            }
        }
    }

    .active {
        //border-radius: 5px;
        background-color: #ececec;
        a,
        i {
            color: #141212;
        }
    }
}

.actions-index {
    i {
        text-decoration: none;
    }
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.fa-home:hover {
    color: #f15a25;
}

.fa-circle-xmark {
    color: #dc3545;
}

.img-box {
    max-width: 60%;
    height: 600px;
    img {
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        align-items: self-start;
        width: 100%;
        object-fit: contain;
    }
}
.info {
    width: 40%;
}

.ck-editor__editable[role="textbox"] {
    min-height: 150px;
}
