@use "./variables" as *;
@use "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $light-gray;
}

.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 1px solid black;
}

a {
    text-decoration: none;
}

ol, ul{
    list-style: none;
}