@use "./variables" as *;
@use "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $light-gray;
}

main {
    padding-top: 60px;
}

.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid black;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $light-gray;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(241, 90, 37, 0.9);
    &:hover {
        background-color: $orange;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: $dark-gray;
    font-family: swiper-icons;
    font-size: 25px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: $light-gray;
    height: 101% !important;
    top: 50% !important;
    transform: translateY(-50%);
    margin: 0 !important;
    padding: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    right: 0 !important;
}

@media all and (max-width: 480px) {
    .mySwiper {
        width: 100%;
    }
}
@media all and (max-width: 767px) {
    .mySwiper {
        width: 100%;
    }
}
@media all and (min-width: 1024px) {
    .mySwiper {
        width: 100%;
    }
}
